<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Ripple Demo Apps</title>
        <link rel="stylesheet" href="master.css" type="text/css" media="screen" />
    </head>
    <body>
        <h1>PhoneGap</h1>
        <ul>
            <li><a href="/phonegap/geo">Geolocation</a></li>
            <li><a href="/phonegap/accel">Accelerometer</a></li>
            <li><a href="/phonegap/contacts">Contacts</a></li>
            <li><a href="/phonegap/compass">Compass</a></li>
        </ul>
        <h1>WAC</h1>
        <ul>
            <li><a href="/wac">Demo</a></li>
        </ul>
    </body>
</html>
